@using Miscshopify.Core.Models;
@model IEnumerable<CartItemViewModel>
@{
	var totalPrice = ViewBag.TotalPrice;
	var totalQuantity = ViewBag.TotalQuantity;
}
<head>
	<link rel="stylesheet" href="~/plugins/fontawesome-free-6.2.0-web/css/all.min.css">
</head>
<div class="row">
	<div class="col-12">
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Cart</h2>
						<a href="/Category/Index" class="btn btn-sm btn-primary mr-25">Continue shoping</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrap">
							<table class="table table-responsive-xl">
								<thead>
									<tr>
										<th>&nbsp;</th>
										<th>Name</th>
										<th>Quantity</th>
										<th>Price</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>
												<img src="~/@item.ImagePath" style="border-radius: 50%;" width="50" height="50">
											</td>
											<td>@item.ProductName</td>
											<td>
												@item.Quantity
											</td>
											<td>@item.Price BGN</td>
											<td>
												<a asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id="@item.Id" class="btn btn-sm btn-danger mr-25">
													Remove
													<i class="fa-solid fa-circle-xmark"></i>
												</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<label class="form-label">Quantity:</label>
						<span class="focus-input100">@totalQuantity </span>
						<label class="form-label">Total Price:</label>
						<span class="focus-input100">@totalPrice BGN</span>
					</div>
					<a asp-action="Checkout" asp-controller="Cart" class="btn btn-sm btn-primary mr-25">
						Checkout
					</a>
				</div>
			</div>
		</section>
	</div>
</div>