@using Miscshopify.Core.Models;
@model IEnumerable<ProductViewModel>
@{
}

<div class="card-x">
    <div class="card-body-x">
        <div class="row my-2">
            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-4 col-xl-3 mb-5" style="background: rgba(255, 255, 255, 1);">
                    <div class="item rounded-xl overflow-hidden shadow border">
                        <div class="px-3 pt-6">
                            <a asp-action="ProductDetails" asp-controller="Product" asp-route-id="@product.Id" class="btn info">
                                @product.Name
                                <div class="form-floating">
                                    <img src="~/@product.ImagePath" class="img-thumnail" width="300" height="250">
                                </div>
                                <div class="mt-6">
                                    <p class="text-break-line-2" style="width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                                        @product.Description
                                    </p>
                                    <h4 class="text-primary mr-1">BGN @product.Price</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>