@using Miscshopify.Core.Models;
@using Miscshopify.Infrastructure.Data.Models.Enums;
@model UserEditViewModel
@{
}

<div class="content-body">
    <section class="users-edit">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <ul class="nav nav-tabs mb-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account" aria-controls="account" role="tab" aria-selected="true">
                                <i class="ft-user mr-25"></i><span class="d-none d-sm-block">Edit Category</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="information-tab" data-toggle="tab" href="#information" aria-controls="information" role="tab" aria-selected="false">
                                <i class="ft-info mr-25"></i><span class="d-none d-sm-block">Information</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                            <div class="media mb-2">
                                <a class="mr-2" href="#">
                                    <img src="../../../app-assets/images/portrait/small/avatar-s-26.png" alt="users avatar" class="users-avatar-shadow rounded-circle" height="64" width="64">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Avatar</h4>
                                    <div class="col-12 px-0 d-flex">
                                        <a href="#" class="btn btn-sm btn-primary mr-25">Change</a>
                                        <a href="#" class="btn btn-sm btn-secondary">Reset</a>
                                    </div>
                                </div>
                            </div>
                            <form id="edit" method="post">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-floating">
                                            <label asp-for="FirstName" class="form-label"></label>
                                            <input asp-for="FirstName" class="form-control" aria-required="true" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating">
                                            <label asp-for="LastName" class="form-label"></label>
                                            <input asp-for="LastName" class="form-control" aria-required="true" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating">
                                            <label asp-for="Email" class="form-label"></label>
                                            <input asp-for="Email" class="form-control" aria-required="true" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating">
                                            <label asp-for="PhoneNumber" class="form-label"></label>
                                            <input asp-for="PhoneNumber" class="form-control" aria-required="true" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="controls">
                                                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderEnum>()" class="btn btn-info"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select asp-for="IsActive" class="form-control">
                                                <option value="true">Active</option>
                                                <option value="false">Delete</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                        <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">
                                            Save
                                            changes
                                        </button>
                                        <button type="reset" class="btn btn-light">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                            <form id="edit" method="post">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <h5 class="mb-1"><i class="ft-link mr-25"></i>Social Links</h5>
                                        <div class="form-group">
                                            <label>Twitter</label>
                                            <input class="form-control" type="text" value="https://www.twitter.com/">
                                        </div>
                                        <div class="form-group">
                                            <label>Facebook</label>
                                            <input class="form-control" type="text" value="https://www.facebook.com/">
                                        </div>
                                        <div class="form-group">
                                            <label>Google+</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label>LinkedIn</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label>Instagram</label>
                                            <input class="form-control" type="text" value="https://www.instagram.com/">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptspartial" />
}