<!DOCTYPE html>
<html lang="en">
<head>
    <title>Miscshopify</title>
    <link rel="icon" href="~/img/Miscshopify_Logo" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="\" class="nav-link">
                        <img src="~/img/Miscshopify_Logo_No_Traansperant.png" alt="Miscshopify Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    </a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Category/Index" class="nav-link">Categories</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="/Admin" class="nav-link">Admin Panel</a>
                    </li>
                }
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fa-solid fa-search"></i>
                    </a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </nav>
    </div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">@ViewData["Title"]</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="searchForm" action="@Url.Action("Results", "Search")" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" name="searchTerm" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script>
        // Show search modal when search icon is clicked
        $(document).on('click', '[data-widget="navbar-search"]', function (e) {
            e.preventDefault();
            $('#searchModal').modal('show');
            $('#searchForm input[name="searchTerm"]').focus();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
