@using Microsoft.AspNetCore.Identity
@using Miscshopify.Core.Models;
@using Miscshopify.Infrastructure.Data.Models;
@using System.Security.Claims;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" href="/Cart/Index" title="Cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-grey" href="/Order/MyOrders" title="Cart">
            My Orders
        </a>
    </li>
    <li>
        <img src="~/@UserManager.GetUserAsync(User).Result?.ImagePath" class="img-circle elevation-2" style="border-radius: 50%;" width="40" height="40" alt="User Image">
    </li>
    <li class="nav-item">
        <a id="manage" class="nav-link text-grey" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserAsync(User).Result?.FirstName</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-grey">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-grey" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-grey" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
