@using Miscshopify.Core.Models;
@model CategoryViewModel
@{
}

<div class="content-body">
    <!-- users edit start -->
    <section class="users-edit">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <ul class="nav nav-tabs mb-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account" aria-controls="account" role="tab" aria-selected="true">
                                <i class="ft-user mr-25"></i><span class="d-none d-sm-block">Category</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                            <!-- users edit account form start -->
                            <form id="edit" method="post">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-floating">
                                            <label asp-for="Name" class="form-label"></label>
                                            <input asp-for="Name" class="form-control" aria-required="true" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating">
                                            <label asp-for="Description" class="form-label"></label>
                                            <input asp-for="Description" class="form-control" aria-required="true" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        @*<div class="form-group">
                                        <div class="controls">
                                        <select asp-for="SubCategories" asp-items="Html.DropDownList<SubcategoryViewModel>()" class="btn btn-info"></select>
                                        </div>
                                        </div>*@
                                    </div>
                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                        <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">
                                            Save
                                            changes
                                        </button>
                                        <button type="reset" class="btn btn-light">Cancel</button>
                                    </div>
                                </div>
                            </form>
                            <!-- users edit account form ends -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- users edit ends -->
</div>

@section Scripts {
    <partial name="_ValidationScriptspartial" />
}