@using Miscshopify.Core.Models;
@model IEnumerable<CategoryViewModel>
@{
}
<head>
	<link rel="stylesheet" href="~/plugins/fontawesome-free-6.2.0-web/css/all.min.css">
</head>
<div class="row">
	<div class="col-12">
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Category List</h2>
						<a href="/Admin/Category/Add" class="btn btn-sm btn-primary mr-25">Add Category</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrap">
							<table class="table table-responsive-xl">
								<thead>
									<tr>
										<th>&nbsp;</th>
										<th>Name</th>
										<th>Description</th>
										<th>Products</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var category in Model)
									{
										<tr>
											<td>
												<img src="~/@category.ImagePath" style="border-radius: 50%;" width="50" height="50">
											</td>
											<td>@category.Name</td>
											<td>@category.Description</td>
											<td>
												<a asp-area="Admin" asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-block btn-outline-info btn-xs">
													Edit
													<i class="fa-solid fa-pen-to-square"></i>
												</a>
											</td>
											<td>
												<a asp-area="Admin" asp-action="Add" asp-controller="Product" asp-route-id="@category.Id" class="btn btn-block btn-outline-info btn-xs">
													Add Product
													<i class="fa-solid fa-plus"></i>
												</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>